@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-noto: "Noto Serif", serif;
    --font-source: "Source Code Pro";
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}
